<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <h1>Sorry, you're not authorized to reach this page.</h1>
                    <h5>You may need to log in as a different user.</h5>
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <NetGuardUI.SettingComponents.Error404></NetGuardUI.SettingComponents.Error404>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
